<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="templates/default">
<head>
<title>Home Page</title>

<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div layout:fragment="content">
	
		<h2> Welcome: <span th:if="${#authentication.getPrincipal() != null}" th:utext ="${#authentication.getPrincipal().getUser().getDisplayName()}"></span></h2>

		<table style="margin: 10px">
			<tr>
				<td><a href="/items" class="btn btn-primary" style="width:250px"><i class="fas fa-bars"></i> List
						Items</a></td>
			<tr>
				<td><a th:href="@{'/user-prefs/'+${userId}}" class="btn btn-primary" style="width:250px"><i class="fas fa-cog"></i> User
						Preferences</a></td>

			</tr>
			<tr>
				<td><a th:href="@{'/password-reset/'}" class="btn btn-primary" style="width:250px"><i class="fas fa-key"></i> Password Reset</a></td>

			</tr>
			
			<tr sec:authorize="hasRole('ROLE_ADMIN')">
				<td><a th:href="@{'/user-admin/'}" class="btn btn-primary" style="width:250px"><i class="fas fa-users"></i> User Admin</a></td>
			</tr>
		</table>


	</div>
</body>
</html>