<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="templates/default">
<head>
<title>Items</title>

<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${searchTerm}" style="border: 1px; border-style:solid; margin:10px; text-align:center; border-radius:5px">			
				<i class="fa fa-search"></i><span style="padding: 5px" th:utext="${searchTerm}"></span>			
		</div>
		<div class="segment">
			<ol>
				<li th:each="item : ${items}"
					th:text="${item.name} + ': ' + ${item.description}"></li>
			</ol>
		</div>
	</div>
</body>
</html>