<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/default">
    <head>
        
       
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Self-Service Password Reset</h1>
            
            <form class="form-input" style="display: inline" th:action="@{/password-reset}" th:method="post"
            th:object="${newPass}">
                <!-- important we lookup SHA-1 on the other end  -->
                <input type="hidden" id="username" namne="username" th:field="*{username}"/>
                <input  id="newpass" name="newpass" placeholder="New Password" th:field="*{newPassword}" required="required" /> 
                <button type="submit"><i class="fas fa-save"></i></button>
            </form>
            
           <!--  <span th:if="${result!=null}" th:text="${result}"></span> -->
            
        </div>
    </body>
   
</html>