<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/default">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pet Rescue</title>
       
    </head>
    <body>
        <div>
            <h1><a href="http://trustedsite.ac.uk:8080/search?q=%3Cscript%3Ealert('Worked')%3C/script%3E">Rescue Tommy!</a></h1>
            
          
            
        </div>
    </body>
   
</html>